apiVersion: fintlabs.no/v1alpha1
kind: Application
metadata:
  name: fint-oneroster-rest-provider
spec:
  resources:
    limits:
      memory: 5Gi
  env:
    - name: server.servlet.context-path
      value: /oslo/ims/oneroster/v1p1
    - name: oneroster.access-control
      value: 'true'
    - name: oneroster.clients.itslearning.name
      value: oneroster_client_itslearning
    - name: oneroster.clients.itslearning.id
      value: 1df4c371-f4c4-48b0-a6b4-3f9183472720
    - name: oneroster.clients.kent.name
      value: oneroster_client_kent
    - name: oneroster.clients.itslearning.id
      value: a7d93edb-99d7-481e-9c34-e2eda7db7149
    - name: oneroster.user-factory
      value: nin
    - name: oneroster.class-factory
      value: default
    - name: oneroster.contact-teacher-groups
      value: 'true'
    - name: oneroster.parents
      value: 'true'
    - name: oneroster.org.sourced-id
      value: '958935420'
    - name: oneroster.org.name
      value: Oslo kommune
    - name: oneroster.org.identifier
      value: '958935420'
    - name: fint.component.education.registration.1.id
      value: oslo
    - name: fint.component.administration.registration.1.id
      value: oslo
    - name: spring.security.oauth2.client.registration.oslo.client-id
      valueFrom:
        secretKeyRef:
          name: fint-oneroster-rest-provider-op
          key: client-id
    - name: spring.security.oauth2.client.registration.oslo.client-secret
      valueFrom:
        secretKeyRef:
          name: fint-oneroster-rest-provider-op
          key: client-secret
    - name: spring.security.oauth2.client.registration.oslo.authorization-grant-type
      value: password
    - name: spring.security.oauth2.client.registration.oslo.scope
      value: fint-client
    - name: spring.security.oauth2.client.registration.oslo.provider
      value: fint
  onePassword:
    itemPath: vaults/aks-api-vault/items/oneroster-oslo
  url:
    hostname: api.felleskomponent.no
    basePath: /oslo/ims/oneroster/v1p1
  ingress:
    basePath: /oslo/ims/oneroster/v1p1